
:root {
 --color-sky : 14 165 233; 
 --color-black : 0 0 0;
 --color-brand: var(--color-sky);
}

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: 'Inter';
    src: url(
      'https://fonts.gstatic.com/s/inter/v3/7Au7p_IpkSWSTWaFWkumvmQ.woff2'
    ) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

  }

  @font-face {
    font-family: 'Satoshi';
    src: url(
      'https://fonts.gstatic.com/s/satoshi/v1/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2'
    ) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

  }

  .App {


  }

  .App-logo {

  }

  .navbar {


  }









}